---
import { Image } from "astro:assets";
import fotoanillo from "~/assets/itinerario1.jpg";
import foto2 from "~/assets/itinerario2.jpg";
import anillo from "~/assets/ceremoniar.png";
import salud from "~/assets/salon1.png";

const widths = [450, 800, 1200];
const sizes = "100vw";
---

<section class="relative h-screen w-full" id="itinerario">
  <Image
    class="h-full w-full object-cover"
    src={fotoanillo}
    widths={widths}
    sizes={sizes}
    alt="Encabezado con fondo personalizado"
    loading="eager"
  />
  
  <!-- Contenedor para el texto centrado -->
  <div class="text-overlay">
    <div class="ring-image">
      <a href="https://maps.app.goo.gl/rSXtb6m4t7YMXG9B6">
      <Image 
        src={anillo} 
        alt="Anillos de boda" 
        class="ring-icon" 
      />
      </a>
    </div>
  </div>
</section>

<section class="relative h-screen w-full" id="itinerario">
  <Image
    class="h-full w-full object-cover"
    src={foto2}
    widths={widths}
    sizes={sizes}
    alt="Encabezado con fondo personalizado"
    loading="eager"
  />
  
  <!-- Contenedor para el texto centrado -->
  <div class="text-overlay">
    <!-- Imagen de los anillos encima del título, centrada -->
    <div class="ring-image">
      <a href="https://maps.app.goo.gl/W7Lj3knjMsW16gvV7">
      <Image 
        src={salud} 
        alt="Anillos de boda" 
        class="ring-icon" 
      />
    </a>
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    height: 100vh;
  }

  /* Contenedor de texto centrado */
  .text-overlay {
    position: absolute;
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajuste perfecto al centro */
    color: #D6CCC2; /* Color del texto */
    text-align: center; /* Centrado del texto */
    font-size: 3rem; /* Tamaño del texto */
    font-weight: bold; /* Peso del texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para mejor legibilidad */
  }

  h1 {
    font-size: 3rem; /* Tamaño inicial del título */
  }

</style>
