---
import { Image } from "astro:assets";
import fotoanillo from "~/assets/itinerario1.jpg";
import ceremonia from "~/assets/ceremonia.png";
import salon from "~/assets/salon.png";

const widths = [450, 800, 1200];
const sizes = "100vw";
---

<section class="relative h-screen w-full">
  <Image
    class="h-full w-full object-cover"
    src={fotoanillo}
    widths={widths}
    sizes={sizes}
    alt="Encabezado con fondo personalizado"
    loading="eager"
  />
    
  <!-- Imágenes flotantes -->
  <div class="floating-images-container">
    <Image 
      src={ceremonia} 
      alt="Ceremonia" 
      class="floating-image left-image" 
    />
    <Image 
      src={salon} 
      alt="Salón" 
      class="floating-image right-image" 
    />
  </div>
</section>

<style>
  section {
    position: relative;
    height: 100vh;
  }

  .floating-image {
    transition: transform 0.3s ease;
    width: 80%; /* Tamaño reducido en pantallas móviles */
  }

  .floating-image:hover {
    transform: scale(1.1) translateY(-10px);
  }

  .floating-images-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; /* Apilar imágenes en móviles */
    align-items: center;
    gap: 1rem;
  }

  /* Para pantallas medianas */
  @media (min-width: 768px) {
    .floating-images-container {
      flex-direction: row; /* Poner imágenes en fila en pantallas más grandes */
      gap: 2rem;
    }

    .floating-image {
      width: 25%; /* Tamaño mayor en pantallas medianas */
    }
  }

  /* Para pantallas grandes */
  @media (min-width: 1024px) {
    .floating-image {
      width: 50%;
    }
  }

  /* Para pantallas extra grandes */
  @media (min-width: 1280px) {
    .floating-image {
      width: 35%;
    }
  }
</style>
